<html>
  <head>
    <title>ejs</title>
  </head>
  <body>
    <%- include('topbar') -%>
    <h1>Coucou <%= name %></h1>
    <% if (authentificated) { %>
    <h1>Je suis connecté</h1>
    <% } else { %>
    <h1>Je ne suis pas connecté</h1>
    <% } %> <% products.forEach((product) => { %>
    <h1><%= product.title %></h1>
    <p><%= product.content %></p>
    <%}) %>
  </body>
</html>
