<!DOCTYPE html >
html 
  head  
    body 
      div(class= "test")
        h1 Hello #{name}
        if authentifacation 
          p je suis connecte 
        else 
          p je ne suis pas connecte